body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #a26c99;
    margin: 0;
    padding: 0;
}

h1 {
    color: #000000;
    margin: 1;
} 

a {
    font-size: large;
    text-decoration: none;
    color: #000000;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.center {
    margin: 0 auto;
}

table {
    width: 80%;
    margin: 0 auto;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #ddd;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

footer {
    margin-top: 50px;
    background-color: #a26c99;
    color: #000000;
    padding: 5px;
    text-align: center;
}