<!DOCTYPE html>

<head>
    <title>Index</title>
</head>

<body>
    <a href = "{% url 'contact_insert'%}">Add New Contact</a>
    <center>
        <h1>Contact Management</h1>
        <hr/>
        <table>
            <tr>
                <th>Contact Name</th>
                <th>Email Address</th>
                <th>Created Time</th>
            </tr>
            {% for contact_display in crudst%}
            <tr>
                <td>{{display.contact_name}}</td>
                <td>{{display.contact_email}}</td>
                <td>{{display.contact_time}}</td>
            </tr>
        </table>
    </center>
</body>

</html>