<!DOCTYPE html>

<head>
    <title>Home Page</title>
</head>

<body>
    <a href = "{% url 'contact_insert'%}">Add New Contact</a>
    <center>
        <h1>Contact Management</h1>
        <hr/>
        <table border="1">
            <tr>
                <th>Contact Name</th>
                <th>Email Address</th>
                <th>Time Created</th>
            </tr>
            {% for contact in crudst %}
            <tr>
                <td>{{ contact.contact_name }}</td>
                <td>{{ contact.contact_email }}</td>
                <td>{{ contact.contact_time }}</td>
            </tr>  
            {% endfor %}
            </tr>
        </table>
    </center>
</body>

<footer>
    <center>
        <h5><i>---Created by Regina Santos---</i></h5>
    </center>
</footer>

</html>