{% load static %}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/new_contact.css' %}">
    <title>Create New Contact</title>
</head>

<body>
    <center>
        <h1><b></b>Add New Contact</b></h1>
        <hr/>
    </center>
    <form method = "post">
        {% csrf_token %}
    <table>
        <tr>
            <td>Contact Name</td>
            <td><input type="text" placeholder="Enter Name" name = "contact_name"></td>
        </tr>

        <tr>
            <td>Email Address</td>
            <td><input type="text" placeholder="Enter Email Address" name = "contact_email"></td>
        </tr>

        <tr>
            <td>Notes</td>
            <td><input type="text" placeholder="Enter text here" name = "contact_notes"></td>
        </tr>
    </table>

    <center>
        <p>
        
        </p>
        <input type = "submit" value = "Sumbit Record" >
    </center>
    <center>
        <p></p>
        <a href = "{% url 'contact_display'%}"><u>Home</u></a>
        <p>
            
        </p>
    </center>
    {% if messages %}
    {% for result in messages %}
    <center>
    <b style = "color: darkgreen;"> {{result}} </b>
    </center>
    {% endfor %}
    {% endif %}


    </form>

</body>

<footer>
    <center>
        <h3><i>---Created by Regina Santos---</i></h3>
    </center>
</footer>

</html>