<!DOCTYPE html>

<head>
    <title>Create New Contact</title>
</head>

<body>
    <center>
        <h2>Add New Contact</h2>
        <hr/>
    </center>
    <table>
        <tr>
            <td>Contact Name</td>
            <td><input type="text" placeholder="Enter Name" name = "contact_name"></td>
        </tr>

        <tr>
            <td>Email Address</td>
            <td><input type="text" placeholder="Enter Email Address" name = "contact_email"></td>
        </tr>

        <tr>
            <td>Notes</td>
            <td><input type="text" placeholder="Enter text here" name = "contact_notes"></td>
        </tr>
    </table>

    <input type = "submit" value = "Sumbit Record" >
</body>

</html>