<!DOCTYPE html>

<head>
    <title>Create New Contact</title>
</head>

<body>
    <center>
        <h2>Add New Contact</h2>
        <hr/>
    </center>
    <form method = "post">
        {% csrf_token %}
    <table>
        <tr>
            <td>Contact Name</td>
            <td><input type="text" placeholder="Enter Name" name = "contact_name"></td>
        </tr>

        <tr>
            <td>Email Address</td>
            <td><input type="text" placeholder="Enter Email Address" name = "contact_email"></td>
        </tr>

        <tr>
            <td>Notes</td>
            <td><input type="text" placeholder="Enter text here" name = "contact_notes"></td>
        </tr>
    </table>

    <input type = "submit" value = "Sumbit Record" >
    <a href = "{% url 'contact_display'%}">Home</a>
    <hr/>
    {% if messages %}
    {% for result in messages %}
    <b style = "color: darkgreen;"> {{result}} </b>
    {% endfor %}
    {% endif %}


    </form>

</body>

<footer>
    <center>
        <h5><i>---Created by Regina Santos---</i></h5>
    </center>
</footer>

</html>